apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS financials (
        accn VARCHAR(255) PRIMARY KEY,
        cik INTEGER NOT NULL,
        name VARCHAR(255) NOT NULL,
        revenues BIGINT,
        expenses BIGINT,
        tax BIGINT
    );
    CREATE INDEX IF NOT EXISTS idx_cik ON financials(cik);
    CREATE INDEX IF NOT EXISTS idx_name ON financials(name);
