apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS financials (
        accn VARCHAR(255) PRIMARY KEY,
        cik VARCHAR(10) NOT NULL,
        name VARCHAR(255) NOT NULL,
        fy INTEGER,
        fp VARCHAR(2),
        costs BIGINT,
        eps FLOAT,
        revenues BIGINT,
        taxes BIGINT
    );
    CREATE INDEX IF NOT EXISTS idx_cik ON financials(cik);
    CREATE INDEX IF NOT EXISTS idx_name ON financials(name);
