apiVersion: v1
kind: Service
metadata:
  name: db
  labels:
    app: db
spec:
  type: ClusterIP
  selector:
    app: db
  ports:
    - name: http
      port: 80
      targetPort: 5432
      protocol: TCP