name: Push
on:
  push:
  workflow_dispatch:
jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Meta (app)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha, format=short, prefix=
            type=raw, value=latest, enable=${{ github.ref == 'refs/heads/main' }}

      - name: Build Push (app)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Docker Meta (job)
        id: meta-job
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/job
          tags: |
            type=sha, format=short, prefix=
            type=raw, value=latest

      - name: Build Push (job)
        uses: docker/build-push-action@v5
        with:
          context: .jobs/archive
          push: true
          tags: ${{ steps.meta-job.outputs.tags }}
          labels: ${{ steps.meta-job.outputs.labels }}